.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: #ffffff;
}

.subTitle {
  display: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 768px) {
  .subTitle {
    display: block;
  }
}
