/* Card.module.css */

.container {
  display:flex;
  margin-left: 20px
}
.e-card {
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  position: relative;
  width: 340px; /* Aumenta el ancho aquí */
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 30px;
  position: absolute;
  text-transform: uppercase;
  font-family: Arial, 'sans-serif';
  top: 20%;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
  transform: translateY(-50%); /* Ajusta para centrar verticalmente */
}

.name {
  font-family: Arial, 'sans-serif';
  font-size: 20px;
  font-weight: 100px;
  position: relative;
  top: 1em;
  text-transform: uppercase;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
