.Card {
    margin-top:30px;
    margin-left: 310px;
    align-items: center;
    border-style: dotted;
    border-color: black;
}

.text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    text-transform: uppercase;
}


.BarChart,
.PiesChart {
  margin: 5px;
  max-width: 400px; 
  display: inline-block;
}