 .container {
transform: translate(186%,80%);
    margin-top: 0%;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;

}
.linkbuttons{
    transform: translate(240%,50%);
    margin-top: 50px;
    width: 320px;
    margin-right: 4px;
}
.buttonlink1{
    border:2px #230479;
    border-width: 7px;
    background-color: #230479;
    border-radius: 5px;
    color: #fdfdfe;
    height: 28px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: #230479;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.buttonlink2{
    border: none;
    background-color: #ffffff;
    color: rgb(20, 20, 20);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.box{
    width: 450px;
  }

  .box {
    margin-top: 60px;
  }
  
  .input {
    padding: 10px;
    width: 300px;
    height: 60px;
    background: none;
    border: 4px solid #1b2378;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    color: #290732;
    outline: none;
    transition: 0.5s;
    background: #ffffff;
  }
  .box:hover input {
    width: 400px;
    background: #ffffff;
    border-radius: 10px;
    border: 4px solid #6e0fc1;
  }
  .box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #ffffff;
    transition: 0.2s;
  }
  .box:hover i {
    opacity: 0;
    z-index: -1;
  }