@import url("https://fonts.cdnfonts.com/css/lalezar");

.content{
  display: flex;
}

.mainContent {
  margin-left: 25%; 
  padding: 20px;
}

.content h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.table th,
.table td {
  border: 2px solid #ffffff;
  padding: 10px;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.table th {
  background-color: #a015e5;
  font: bold;
  color: white;
}
.table td {
  background-color: #e1c5f0;
}
.botonagregar {
  background-color: #1b2378;
  color: white;
  border: none;
  border-radius: 15px;
  height: 30px;
  width: 150px;
  font-size: 18px;
  margin-left: 85%;
  margin-bottom:6% ;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  position: relative;
}
.contenedor{
  transform: translate(730%,-100%);
  width: 100px;
}

.botonagregar:hover {
  background-color:#1b2378;
  color: #fefeff;
}
.botoneseyb {
  background-color: #1b2378;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}
.botoneseyb:hover {
  background-color: #2933a1;
  margin-right: 5px;
  border: none;
}
.iconpp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.barrabuscar {
  border-radius: 5px;
}

.box {
  margin-top: 60px;
}

.input {
  padding: 10px;
  width: 300px;
  height: 60px;
  background: none;
  border: 4px solid #1b2378;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  color: #290732;
  outline: none;
  transition: 0.5s;
  background: #ffffff;
}
.box:hover input {
  width: 400px;
  background: #ffffff;
  border-radius: 10px;
  border: 4px solid #6e0fc1;
}
.box i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #ffffff;
  transition: 0.2s;
}
.box:hover i {
  opacity: 0;
  z-index: -1;
}
.botonSpeciality{
  border: none;
  color: white;
  border-radius: 15px;
  width: 100px;
  
}

.contenedorTabla {
  height: 400px; /* Establece la altura fija que desees */
  overflow: auto;
}
