@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');


.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #7C4EAB;
    padding-top: 20px;
    color: white;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
  }

  .sidebar img {
    max-width: 40px;
    border-radius: 30px;
    margin-top: 10px;
  }
  
  .sidebar span {
    font-size: 19px;
  }
  
  .sidebar .userContainer {
    display: flex;
    align-items: center;
    margin-left: 20px;

  }
  
  .sidebar text {
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 20px;
    color: #3F1D62;
    font-family: 'Arimo', sans-serif;
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 70px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
  }
  
  .sidebar li {
    margin-top: 50px;
    text-align:left;
    margin-left:20px;
    font-family: 'Arimo', sans-serif;
  }
  
  .sidebar span {
    margin-left: 20px;
    font-size:19px;
  }
  
  .content {
    margin-left: 260px;
    padding: 20px;
  }
  

.bottomtext {
  text-align: center;
  text-transform: uppercase;
  margin-top: 140px;
}

.legend{
  text-transform:capitalize;
  font-size: 12px;
  margin-left: 40px;
}

.icons {
  margin-right: 20px;
}