/* table.module.css */

.main-container {
    margin: -79px 0 20px 0; /* Ajusta el margen superior e inferior para más espacio */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Ajusta el margen inferior de la barra de herramientas */
  }
  
  .searchBar {
    display: flex;
    align-items: center;
  }
  
  .iconButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .addButtonContainer {
    margin-left: auto;
  }
  
  .table {
    width: 80%; /* Ajusta el ancho de la tabla */
    border-collapse: collapse;
    margin-top: 20px; /* Añade espacio en la parte superior de la tabla */
  }
  
  th, td {
    padding: 15px; /* Ajusta el padding para reducir el tamaño de las celdas */
    text-align: left;
  }
  
  thead {
    background-color: #2196f3;
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #e0e0e0;
  }
  
  .actions {
    display: flex;
    gap: 8px;
  }
  
  .title {
    color: #2196f3;
    margin-bottom: 10px; /* Ajusta el margen inferior del título */
    font-size: 24px;
  }
  